.notes-new {
  display: flex;
  justify-content: center;
}

.notes-new-card {
  margin: 10px;
  width: 400px;
}

.mat-form-field {
  display: block;
}

.fill_space {
  flex: auto;
}

.container {
  margin: 10px;
}
