<mat-accordion multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>Notes</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="notes/newnote">New</a>
    </mat-nav-list>
  </mat-expansion-panel>
  <mat-expansion-panel expanded="true">
    <mat-expansion-panel-header>
      <mat-panel-title>Categories</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-nav-list>
      <a mat-list-item routerLink="notes/newcategory">New</a>
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-nav-list>
      <!--  -->
      <a mat-list-item *ngFor="let nav of filledNav">{{ nav }}</a>
      <!--  -->
    </mat-nav-list>
  </mat-expansion-panel>
</mat-accordion>
