$md-primary: (
    50 : #eaedf2,
    100 : #ccd2dd,
    200 : #aab5c7,
    300 : #8797b1,
    400 : #6e80a0,
    500 : #546a8f,
    600 : #4d6287,
    700 : #43577c,
    800 : #3a4d72,
    900 : #293c60,
    A100 : #a7c4ff,
    A200 : #74a1ff,
    A400 : #417eff,
    A700 : #286dff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$md-accent: (
    50 : #feeeed,
    100 : #fed5d3,
    200 : #fdbab6,
    300 : #fc9e98,
    400 : #fb8982,
    500 : #fa746c,
    600 : #f96c64,
    700 : #f96159,
    800 : #f8574f,
    900 : #f6443d,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffdedd,
    A700 : #ffc6c3,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

