<mat-tab-group dynamicHeight (selectedTabChange)="onTabChange($event)">
  <mat-tab label="Overview">
    <app-overview *ngIf="activeTab === 1"></app-overview>
  </mat-tab>
  <mat-tab label="Toilet Tracker">
    <app-toilet-tracker *ngIf="activeTab === 2"></app-toilet-tracker>
  </mat-tab>
  <mat-tab label="Nutritionist">
    <app-nutritionist *ngIf="activeTab === 3"></app-nutritionist>
  </mat-tab>
  <mat-tab label="Behavioural">
    <app-conduct *ngIf="activeTab === 4"></app-conduct>    
  </mat-tab>
  <mat-tab label="Dr. Apt.">
    <app-dr-appointments *ngIf="activeTab === 5"></app-dr-appointments>
  </mat-tab>
</mat-tab-group>
