.main-card-section {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  &.handset-portait {
    grid-template-columns: 1fr;
  }
}

.main-card {
  grid-column-start: 2;
  grid-column-end: span 5;

  &.handset-portait {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: span 1;
  }
}

// ----------

.appointment-timeline-wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  &.handset-portait {
    grid-template-columns: 1fr;
  }
}

// ---------

.timeline-progress {
  list-style: none;
  grid-column-start: 2;
  grid-column-end: span 5;
  position: relative;

  &.handset-portait {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: span 1;
  }
}

.timeline-progress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  // left: 10px;
  left: 1rem;
  width: 10px;
  height: 100%;
  border-left: 2px solid orangered;
}

// ----------

.appointment-time {
  position: relative;
  counter-increment: list;
}

.appointment-time:not(:last-child) {
  padding-bottom: 20px;
}

.appointment-time::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.appointment-time::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -2rem;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
