.main-card-section {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  &.handset-portait {
    grid-template-columns: 1fr;
  }
}

.main-card {
  grid-column-start: 2;
  grid-column-end: span 5;

  &.handset-portait {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: span 1;
  }
}

// .bold{font-weight:bold;}
.time {
  position: absolute;
  left: -110px;
}
.timeline-wrapper {
  padding-left: 80px;
  min-width: 400px;
  font-family: "Helvetica";
  font-size: 14px;
  // border: 1px solid #CCC;
}
.StepProgress {
  position: relative;
  padding-left: 45px;
  list-style: none;
}
.StepProgress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  left: 15px;
  width: 10px;
  height: 100%;
  border-left: 2px solid #ccc;
}
.StepProgress-item {
  position: relative;
  counter-increment: list;
}
.StepProgress-item:not(:last-child) {
  padding-bottom: 20px;
}
.StepProgress-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}
.StepProgress-item::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: -37px;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}
.StepProgress-item.is-done::before {
  border-left: 2px solid green;
}
.StepProgress-item.is-done::after {
  font-size: 10px;
  color: #fff;
  text-align: center;
  border: 2px solid green;
  background-color: green;
}

.StepProgress strong {
  display: block;
}

// ----------

.appointment-timeline-wrapper {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // border: 1px solid #ccc;
  &.handset-portait {
    grid-template-columns: 1fr;
  }
}

// ---------

.timeline-progress {
  list-style: none;
  grid-column-start: 2;
  grid-column-end: span 5;
  // border: 1px solid orange;
  position: relative;

  &.handset-portait {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-start: 1;
    grid-column-end: span 1;
  }
}

.timeline-progress::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  // left: 10px;
  left: 1rem;
  width: 10px;
  height: 100%;
  border-left: 2px solid orangered;
}

// ----------

.appointment-time {
  position: relative;
  counter-increment: list;
  // border: 1px solid aliceblue;
}

.appointment-time:not(:last-child) {
  padding-bottom: 20px;
}

.appointment-time::before {
  display: inline-block;
  content: "";
  position: absolute;
  left: -30px;
  height: 100%;
  width: 10px;
}

.appointment-time::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  // left: -37px;
  left: -2rem;
  width: 12px;
  height: 12px;
  border: 2px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
}

// .appointment-time strong {
//   display: block;
// }

