<section
  class="main-card-section"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <mat-accordion
    class="main-card"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title> Dr. Appointments </mat-panel-title>
        <mat-panel-description>Add New Entry</mat-panel-description>
      </mat-expansion-panel-header>
    </mat-expansion-panel>
  </mat-accordion>
</section>

<div class="appointment-timeline-wrapper" [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }">
  <ul class="timeline-progress" [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }">
    <li *ngFor="let drapt of drapts$ | async" class="appointment-time">
      <div >{{drapt.draptDate | dateFormatAf}}</div>
      <div>{{drapt.aptName}}</div>
      <div>{{drapt.aptDescription}}</div>
    </li>
  </ul>
</div>