<section
  class="main-card-section"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <mat-card
    class="main-card"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <mat-card-header>
      <mat-card-title>Sasha Toilet Tracker</mat-card-title>
      <mat-card-subtitle>Works</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="bmDate"
            formControlName="bmDate"
            placeholder="BM Date"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="bmDate"
          ></mat-datepicker-toggle>

          <mat-datepicker #bmDate></mat-datepicker>
        </mat-form-field>
        <mat-divider></mat-divider>
        <p>BM Amount:</p>
        <app-star-rating formControlName="bmAmount"></app-star-rating>
        <mat-divider></mat-divider>
        <p>Sentiment During</p>
        <app-sentiment-rating
          formControlName="sentimentDuring"
        ></app-sentiment-rating>
        <mat-divider></mat-divider>
        <p>Sentiment After</p>
        <app-sentiment-rating
        formControlName="sentimentAfter"
        ></app-sentiment-rating>
        <mat-divider></mat-divider>
        <mat-form-field>
          <mat-label>Comments</mat-label>
          <textarea matInput placeholder="It was like a mountain" formControlName="bmComments"></textarea>
        </mat-form-field>
      </div>
      
      <mat-divider></mat-divider>
      <div class="form-val">
        {{ form.value | json }}
      </div>
    </mat-card-content>
  </mat-card>
</section>
