<section
  class="main-card-section"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <mat-card
    class="main-card"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <mat-card-header>
      <mat-card-title>Sasha Toilet Tracker</mat-card-title>
      <mat-card-subtitle>Works</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="bmDate"
            formControlName="bmDate"
            placeholder="BM Date"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="bmDate"
          ></mat-datepicker-toggle>

          <mat-datepicker #bmDate></mat-datepicker>
        </mat-form-field>

        <app-star-rating formControlName="starRating"></app-star-rating>

      </div>

      <div class="form-val">
        {{ form.value | json }}
      </div>
    </mat-card-content>
  </mat-card>
</section>
