<section
  class="main-card-section"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <mat-accordion
    class="main-card"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <mat-expansion-panel [expanded]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title> Sasha Toilet Tracker </mat-panel-title>
        <mat-panel-description>Add New Entry</mat-panel-description>
      </mat-expansion-panel-header>

      <div [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            [matDatepicker]="bmDate"
            formControlName="bmDate"
            placeholder="BM Date"
          />

          <mat-datepicker-toggle
            matSuffix
            [for]="bmDate"
          ></mat-datepicker-toggle>

          <mat-datepicker #bmDate></mat-datepicker>
        </mat-form-field>
        <mat-divider></mat-divider>
        <p>BM Amount:</p>
        <app-star-rating formControlName="bmAmount"></app-star-rating>
        <mat-divider></mat-divider>
        <p>Sentiment During</p>
        <app-sentiment-rating
          formControlName="sentimentDuring"
        ></app-sentiment-rating>
        <mat-divider></mat-divider>
        <p>Sentiment After</p>
        <app-sentiment-rating
          formControlName="sentimentAfter"
        ></app-sentiment-rating>
        <mat-divider></mat-divider>
        <mat-form-field>
          <mat-label>Comments</mat-label>
          <textarea
            matInput
            placeholder="It was like a mountain"
            formControlName="bmComments"
          ></textarea>
        </mat-form-field>
      </div>

      <mat-action-row>
        <button mat-raised-button color="primary" (click)="onSubmit()">
          Submit
        </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>

  <!-- <br />
    
    <div class="form-val">
      {{ form.value | json }}
    </div> -->
</section>

<div
  class="timeline-container"
  [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
>
  <div
    *ngFor="let toiletEvent of toiletEvents$ | async"
    class="timeline-cards"
    [ngClass]="{ 'handset-portait': isHandsetPortrait$ | async }"
  >
    <app-toilet-tracker-card
      bmDate="{{ toiletEvent.bmDate | dateFormatAf}}"
      bmAmount="{{ toiletEvent.bmAmount }}"
      sentimentDuring="{{ toiletEvent.sentimentDuring }}"
      sentimentAfter="{{ toiletEvent.sentimentAfter }}"
      bmComments="{{ toiletEvent.bmComments }}"
    ></app-toilet-tracker-card>
  </div>

